@import "../styles/variables";

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
}
