.progress-bar {
  max-width: 20rem;
  width: 100%;

  > div {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    height: 1rem;
  }

  &--right-positioned {
    > div {
      float: right;
    }
  }
}
